@*@using SelectListItem = System.Web.WebPages.Html.SelectListItem*@
@model Mooc.DataAccess.Dto.UserView

@{
    ViewBag.Title = "New UserRegist";
    Layout = "~/Views/Shared/_Layout.cshtml";



}
<link href="@Url.Content("~/Content/Regist.css")" rel="stylesheet" type="text/css" />
<h2>新用户注册</h2>


@using (Html.BeginForm("UserRegist", "Register"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })*@

        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PassWord)
        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.
            (model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StudentNo)
        @Html.TextBoxFor(m => m.StudentNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender)
        @Html.RadioButtonFor(m => m.Gender, "1")男
        @Html.RadioButtonFor(m => m.Gender, "2")女
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CountryIds)
        @Html.DropDownListFor(m => m.CountryIds, ViewBag.CountryList as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control" })



        @*droplist能试的都试遍了*@
        @*@Html.LabelFor(m=>m.User.CountryId)*@
        @*@Html.DropDownList("Country",ViewData["Countries"] as SelectList,"请选择国家", new { @class="form-control"})*@
        @*@Html.DropDownListFor(m=>m.Countries, ViewData["Countries"] as SelectList, "请选择国家", new { @class = "form-control" })*@
        @*@Html.DropDownListFor(m=>m.User.CountryId, (IEnumerable<SelectListItem>)ViewData["Countries"], "select country",new{@class="form-control"});*@
        @*@Html.DropDownListFor(m=>m.User.CountryId,new SelectList(Model.Countries,"Id","Name"), "select country", new { @class = "form-control" });*@
        @*@Html.DropDownListFor(m=>m.User.CountryId,new SelectList(ViewBag.countries,"Id","Name"), "select country", new { @class = "form-control" })*@
        @Html.ValidationMessageFor(model => model.CountryIds, "", new { @class = "text-danger" })

    </div>


    <div class="form-group">
        <div class="">
            <button type="submit" value="Regist" class="btn btn-primary">提交</button>
        </div>
    </div>


}


