@model Mooc.Data.ViewModels.UserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="~/assets/css/style.default.css" id="theme-stylesheet">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>欢迎注册</h1>
                                </div>
                                <p>慕课网学生注册系统</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <div class="form-group">
                                    <input id="username" class="input-material" type="text" name="registerUsername" placeholder="请输入用户名/姓名">
                                    <div class="invalid-feedback">
                                        用户名必须在2~10位之间
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="password" class="input-material" type="password" name="registerPassword" placeholder="请输入密码">
                                    <div class="invalid-feedback">
                                        密码必须在6~10位之间
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="confirmpassword" class="input-material" type="password" name="registerPasswords" placeholder="确认密码">
                                    <div class="invalid-feedback">
                                        两次密码必须相同 且在6~10位之间
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="email" class="input-material" type="email" name="email" placeholder="邮箱">
                                    <div class="invalid-feedback">
                                        @*两次密码必须相同 且在6~10位之间*@
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-4">角色类型</label>
                                    <div class="col-md-10">
                                        <select id="roletypelist" class="form-control" onchange="change()">
                                            <option value="1">管理员</option>
                                            <option value="2">老师</option>
                                            <option value="3" selected="selected">学生</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group" id="studentshow">
                                    <input id="studentno" class="input-material" type="number" name="studentno" placeholder="学生号">
                                    <div class="invalid-feedback">
                                        @*两次密码必须相同 且在6~10位之间*@
                                    </div>
                                </div>
                                <script>

                                    function change() {

                                        var selectValue = $('select option:selected').val();


                                        if (selectValue != 3) {
                                            $("#studentshow").hide();
                                        }

                                        if (selectValue == 3) {
                                            $("#studentshow").show();
                                        }
                                    }
                                </script>

                                <div class="form-group">
                                    <div class="col-md-8">
                                        <div class="col-md-10">
                                            <select class="form-control" id="gender">
                                                <option value="0">选择性别</option>
                                                <option value="1">男</option>
                                                <option value="2">女</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    @*@Html.LabelFor(m => m.ImgGuid, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        <a id="uploadimg" class="btn btn-default" style="border:1px solid">上传用户照片</a>
                                        <input type="hidden" value="" id="fileName" />
                                    </div>

                                </div>
                                @*显示用户长传图片*@
                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10" id="dataBind"></div>
                                </div>

                                <div class="form-group">
                                    <button type="button" onclick="submit()" class="btn btn-primary">注册</button>
                                </div>
                                <small>已有账号?</small><a href="~/Login/Index" class="signup">&nbsp;登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript files-->
    @*<script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/bootstrap.min.js"></script>
        <script>
            $(function () {
                /*错误class  form-control is-invalid
                正确class  form-control is-valid*/
                var flagName = false;
                var flagPas = false;
                var flagPass = false;
                /*验证用户名*/
                var name, passWord, passWords;
                $("#register-username").change(function () {
                    name = $("#register-username").val();
                    if (name.length < 2 || name.length > 10) {
                        $("#register-username").removeClass("form-control is-valid")
                        $("#register-username").addClass("form-control is-invalid");
                        flagName = false;
                    } else {
                        $("#register-username").removeClass("form-control is-invalid")
                        $("#register-username").addClass("form-control is-valid");
                        flagName = true;
                    }
                })
                /*验证密码*/
                $("#register-password").change(function () {
                    passWord = $("#register-password").val();
                    if (passWord.length < 6 || passWord.length > 18) {
                        $("#register-password").removeClass("form-control is-valid")
                        $("#register-password").addClass("form-control is-invalid");
                        flagPas = false;
                    } else {
                        $("#register-password").removeClass("form-control is-invalid")
                        $("#register-password").addClass("form-control is-valid");
                        flagPas = true;
                    }
                })
                /*验证确认密码*/
                $("#register-passwords").change(function () {
                    passWords = $("#register-passwords").val();
                    if ((passWord != passWords) || (passWords.length < 6 || passWords.length > 18)) {
                        $("#register-passwords").removeClass("form-control is-valid")
                        $("#register-passwords").addClass("form-control is-invalid");
                        flagPass = false;
                    } else {
                        $("#register-passwords").removeClass("form-control is-invalid")
                        $("#register-passwords").addClass("form-control is-valid");
                        flagPass = true;
                    }
                })


                $("#regbtn").click(function () {
                    if (flagName && flagPas && flagPass) {
                        localStorage.setItem("name", name);
                        localStorage.setItem("passWord", passWord);
                        location = "login.html"
                    } else {
                        if (!flagName) {
                            $("#register-username").addClass("form-control is-invalid");
                        }
                        if (!flagPas) {
                            $("#register-password").addClass("form-control is-invalid");
                        }
                        if (!flagPass) {
                            $("#register-passwords").addClass("form-control is-invalid");
                        }
                    }
                })
            })
        </script>*@
</body>
</html>

<script src="~/Scripts/plupload/plupload.full.min.js"></script>



<script>
    function initUpload() {

        var uploader_file = new plupload.Uploader({//创建实例的构造方法
            runtimes: 'gears,html5,html4,flash', //上传插件初始化选用那种方式的优先级顺序
            browse_button: "uploadimg", // 上传按钮
            url: "@Url.Content("~/register/UploadImg")", //远程上传地址
            @*flash_swf_url: "@Url.Content("~/Scripts/plupload/Moxie.swf")",*@
            filters: {
                max_file_size: '50mb', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
                mime_types: [//允许文件上传类型
                    { title: "图片文件", extensions: "jpg,jpeg,gif,png" }//"mp4,flv,rmvb,mpeg,mov,wmv"
                ]
            },
            multipart_params: {  'type': '1' },//往后台传参数
            multi_selection: false, //true:ctrl多文件上传, false 单文件上传
            init: {
                FilesAdded: function (up, files) { //文件上传前

                    uploader_file.start();

                },

                UploadProgress: function (up, file) { //上传中，显示进度条

                },
                FileUploaded: function (up, file, info) { //文件上传成功的时候触发
                    var data = eval("(" + info.response + ")");//解析返回的json数据
                    if (data && data.code == 0) {
                        $("#fileName").val(data.fileName);
                        alert("上传成功")
                        var _html = "";
                        var imageUrl = "@Url.Content("~/register/Show?filename=")" + data.fileName;
                        _html += "<img src='" + imageUrl + "' width='100' onerror=\"javascript: this.src = '@Url.Content("~/Images/logoError.png")'\"  >";
                        $("#dataBind").html(_html);
                    }
                    else {
                        //这两个alert拼写错了，所以一直没跑起来
                        alert(data.msg);
                    }
                },
                UploadComplete: function (uploader, files) {
                    console.log("UploadComplete", files);

                },
                Error: function (up, err) { //上传出错的时候触发
                    $("#upload-program").hide();
                    var errorCode = err.code;
                    switch (errorCode) {
                        case -600:
                            alert("抱歉，上传失败！您所上传的视频超过50mb！");
                            break;
                        case -601:
                            alert("请上传 jpg、jpeg、gif、png 格式文件！");
                            break;
                        case -602:
                            alert("文件选择重复! ");
                            break;
                        case -200:
                            alert("发生http网络错误! ");
                            break;
                        case -400:
                            alert("发生安全问题而产生的错误! ");
                            break;
                        default:
                            alert("上传失败! ");
                            break;
                    }
                }
            }
        });
        uploader_file.init();
    }
    initUpload();

</script>

<script>

    function submit() {

        var username = $.trim($("#username").val());
        if (username == "") {
            alert("用户名不能为空")
            return;
        }

        var password = $.trim($("#password").val());
        if (password == "") {
            alert("密码不能为空")
            return;
        }

        var confirmpassword = $.trim($("#confirmpassword").val());
        if (confirmpassword == "") {
            alert("确认密码不能为空")
            return;
        }

        if (password != confirmpassword) {
            alert("密码和确认密码不一致")
            return;
        }

        var email = $("#email").val();
        if (email=="") {
            alert("邮箱不能为空")
            return;
        }

        var gender = $("#gender").val();
        if (!gender) {
            alert("请选择课性别")
            return;
        }

        var roletype = $("#roletypelist").val();
        if (!roletype) {
            alert("请选择角色类型")
            return;
        }

        var studentNo = 0;
        if (roletype == 3) {
          studentNo = $("#studentno").val();
            if (studentNo == "") {
                alert("学号不能为空")
                return;
            }
        } 

        //默认先给一个数据，为了能往后台传数据
        var teacherid = 0;
        


        var fileName= $("#fileName").val()
        if (!fileName) {
            alert("请上传用户头像")
            return;
        }
        // var status = $.trim($("#status").val());

        $.ajax({
            url: "@Url.Content("~/register/Save")",
            data: { "UserName": username, "Password": password, "Email": email, "StudentNo": studentNo, "Teacherid":teacherid, "Gender":gender, "RoleType":roletype, "ImgGuid": fileName, "ID":0},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    window.location = "@Url.Content("~/login/index")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })

    }
</script>