@model List<Mooc.Data.ViewModels.CourseAddView>
@{
    int count = Model.Count;
    int iCount = count > 3 ? 3 : count;
    Random rd = new Random();
    int n = rd.Next(0, count);
    int rIndex = count > 3 ? 3 : n;
    //如果展示的course个数大于3，就取到第四个course为最后一个结果，否则随机找1-3个course中的一个凑数
}



@if (count > 0)
{

    <div class="width100 float_l backg_qiangray padding_b45">
        <div class="width_1200 margin_auto">
            <div class=" width_224 height364 float_l img_backg11 margin_r20">
                <div class="width100 float_l padding_lr20 color_white fon_siz32 b_weight700 margin_t10">
                    <span>Java<br>工程师</span>
                </div>
                <div class="width100 float_l padding_lr20 color_white fon_siz16 margin_t30 jiantoubianhua bianshou">
                    <span>职业路径<span class="margin_l5 wobianhua">></span></span>
                </div>
                <div class="width100 float_l padding_lr20 fon_siz12 bianshou line_hei26 color_blue wobeijingguosa margin_t120">
                    <a>jQuery源码探索之旅</a>
                    <a>高德开发者必由之路——JS API篇</a>
                    <a>教你HTML5开发爱心鱼游戏</a>
                </div>
            </div>
            <div class="width_712 float_l margin_r20">
                <div class=" width100 float_l height172 kaishimeiyou img_backg10 text-center line_hei172 margin_b20">
                    <span class="fon_siz20 color_white b_weight700">搞定Java加解密</span>
                </div>



                @for (int i = 0; i < iCount; i++)
                {
                    var item = Model[i];

                    string margin_r20 = "margin_r20";
                    if (i == 2)
                    {
                        margin_r20 = "";
                    }
                    var imageUrl = @Url.Content("~/Home/Show?filename=") + item.CoverPic;
                    <a href="~/Home/ShowChapter?courseId=@item.ID">
                        <div class="width_224 height172 float_l @margin_r20 border_shadow jingguoxianshi over_pos bianshou">
                            <div class="width100 float_l img_100 z_inx_1">
                                <img src="@imageUrl" onerror="javascript: this.src = '@Url.Content("~/Images/logoError.jpg")'">
                            </div>
                            <div class="img_backg2 donghua">
                                <span class="margin_t15 float_l ">@item.CourseName</span>
                                <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative ">@item.CourseDetail</span>
                            </div>
                            <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                                <span class="float_l color_red">￥88.00</span>
                                <span class="float_r color_gray"><span>499</span>人在学</span>
                            </div>
                        </div>
                    </a>
                }


            </div>

            <div class="width_224 height364 float_l backg_white border_shadow">
                @if (Model[rIndex] != null)
                {
                    var item = Model[rIndex];
                    var imageUrl = @Url.Content("~/Home/Show?filename=") + item.CoverPic;
                    <a href="~/Home/ShowChapter?courseId=@item.ID">
                        <div class="width_224 height172 float_l jingguoxianshi over_pos bianshou">
                            <div class="width100 float_l img_100 z_inx_1">
                                <img src="@imageUrl" onerror="javascript: this.src = '@Url.Content("~/Images/logoError.jpg")'">
                            </div>
                            <div class="img_backg2 donghua">
                                <span class="margin_t15 float_l ">@item.CourseName</span>
                                <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative ">@item.CourseDetail</span>
                            </div>
                            <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                                <span class="float_l color_red">￥88.00</span>
                                <span class="float_r color_gray"><span>499</span>人在学</span>
                            </div>
                        </div>
                    </a>
                }


                <div class="width100 float_l padding_lr20 dadiv">
                    <div class="width100 float_l border_t padding_t10">
                        <ul class="tongli_ys chaochuyincang">
                            <li><a><span class="diandian">.</span>带你学习Ja学习Jadede模板引擎</a></li>
                            <li><a><span class="diandian">.</span>带你学习Ja学习Jadede模板引擎</a></li>
                            <li><a><span class="diandian">.</span>带你学习Ja学习Jadede模板引擎</a></li>
                            <li><a><span class="diandian">.</span>带你学习Ja学习Jadede模板引擎</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




