@using System.Web.UI.WebControls
@model Mooc.Data.ViewModels.CourseDetails
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <link rel="stylesheet" href="~/assets/css/detail.css">
    <script src="~/Scripts/public.js"></script>
    <title>课程详情</title>
    <style>
        #applybutton {
            width: 104px;
            height: 36px;
            margin-right: 15px;
            color: #fff;
            font-size: 14px;
            line-height: 36px;
            text-align: center;
            display: inline-block;
            background: rgba(255, 102, 0, 1);
        }

        .dorp {
            position: relative;
            display: inline-block;
        }

        .dorp_con {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
        }

        .dorp:hover .dorp_con {
            display: block;
        }
    </style>
</head>
<body>

    <div class="header">
        <div class="width1200pxAuto clearfix">
            <div class="left clearfix">
                <div class="left logo"><a href="@Url.Content("~/home/index")"><img src="~/Images/platform/logo.png" height="44" width="176" alt=""></a></div>

            </div>
            <div class="right clearfix" style="margin-top: 12px;">
                @Html.Partial("_UserExistPartial")

            </div>
        </div>
    </div>
    <div class="categoryPage detailPage columnDetail">
        <div class="topbanner width1200pxAuto">
            <img src="@Model.CoverPic" width="1200" height="330" onerror="this.src = '@Url.Content("~/Images/platform/categoryPage-banner.jpg")';" />
            @*video的显示位置*@
            <div id="showvideo" align="center"></div>
                
                    <div class="intro" id="changevideo2">
                        <div class="title clearfix">
                            <h1>@Model.CourseName</h1>


                        </div>
                        <div class="bookThing"><button onclick="addApply(@Model.ID)" id="applybutton">报名学习</button>主讲人：@Model.TeacherName&nbsp;&nbsp;|&nbsp;&nbsp;当前人数：<span>32</span> 人</div>
                        <p>@Model.CourseDetail</p>
                    </div>
                    <div class="info clearfix">

                    </div>
                

            </div>


        </div>
        <div class="main width1200pxAuto clearfix" id="changevideo">
            <div class="left leftWrap">
                <div class="module list lecture-list">
                    <div class="module-hd list-header clearfix">

                    </div>
                    <div class="module-bd catalogue-view">

                        <div class="chapter-list">
                            <div class="chapter">
                                @foreach (var item in Model.chapters)
                                {
                                    @*<button onclick="playvideo(@item.ID)" style="display: block; margin: 20px">
                                            <div class="item">
                                                <div class="left con">
                                                    <span class="title">章节名称：&nbsp;@item.ChapterName</span>

                                                    <span class="title" style="display: inline-block;float: right">详情：&nbsp;@item.ChapterDetails</span>
                                                    <i class="video"></i>
                                                </div>

                                            </div>
                                        </button>*@


                                    <div class="item">
                                        <div class="left con" onclick="playvideo(@item.ID)" style="cursor:pointer;">
                                            <img src="~/images/platform/hot-column.jpg" alt="">
                                            <span class="title">@item.ChapterName</span>
                                            <i class="video"></i>
                                        </div>

                                    </div>

                                }

                                <script>
                                    function playvideo(id) {
                                        console.log(id);

                                        $.ajax({
                                            url: "@Url.Content("~/subject/play/")",
                                            data: { "id": id },
                                            type: "POST",
                                            dataType: 'json',
                                            success: function(res) {
                                                //$("#showvideo").html(data);
                                                //$("#changevideo").hide();
                                                //$("#changevideo2").hide();
                                                if (res.code == 0) {
                                                    window.location.href = "@Url.Content("~/play/index/")" + id;
                                                } else {
                                                    alert(res.msg)
                                                }
                                            }
                                        
                                        });
                                        @*$.ajax({

                                            url: "@Url.Content("~/subject/play/")",
                                            data: { "id": id },
                                            type: "POST",
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.code == 0) {

                                                    var _html = "";
                                                    var videourl="@Url.Content("~/api/VideoApi/get?id=")"+data.chapter.VideoGuid+"";
                                                    _html += "<div style='margin:30px;'>"
                                                    _html += "<h3>"+data.chapter.ChapterName+"</h3>";
                                                    _html += "<video width='800' height='600' controls>";
                                                    _html += "<source src="+videourl+">";
                                                    _html += "Your browser does not support HTML5 video.";
                                                    _html += "</video>";
                                                    _html += "<div>";
                                                    _html += "<button onclick='window.location.reload();' align='center' style='border: 1px solid blue; width:100px; height:100px'>返回</button>";
                                                    _html += "</div>";
                                                    _html += "</div>";
                                                    $("#showvideo").html(_html);
                                                    $("#changevideo").hide();
                                                    $("#changevideo2").hide();

                                                } else {
                                                    alert(data.msg);
                                                    return false;
                                                }
                                            }
                                        });*@
                                    }

                                </script>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="right rightWrap">
                <div class="module profile">
                    <div class="clearfix">
                        <div class="left avatar"><a><img src="~/Images/platform/hot-column.jpg" height="80" width="80" alt=""></a></div>
                        <div class="left content">
                            <div class="nickname"><a>李得花</a></div>
                            <div class="job">北京交通大学</div>
                        </div>
                    </div>
                    <ul class="clearfix">
                        <li><span>5</span><p>课程</p></li>
                        <li><span>10</span><p>视频</p></li>
                        <li class="last"><span>200</span><p>学习人数</p></li>
                    </ul>
                </div>

                <div class="module hot-column related-lecture">
                    <div class="module-hd clearfix">
                        <div class="left title">其他课程</div>
                        <a href="" class="right more">更多&gt;</a>
                    </div>
                    <div class="module-bd">
                        <ul>
                            <li>
                                <div class="item">
                                    <a href="" target="_blank">
                                        <img src="~/Images/platform/index-like.jpg" height="140" width="255" alt="">
                                        <span>以图为媒 按图索骥</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item bdb0">
                                    <a href="" target="_blank">
                                        <img src="~/Images/platform/index-like.jpg" height="140" width="255" alt="">
                                        <span>以图为媒 按图索骥</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="footer">

        <p class="copyright">在线发行：MOOC技术有限公司&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>

</body>
</html>

<script>
    function addApply(id) {
        console.log(id);

        var bo = isExistValue("@Url.Action("IsLogin","Home")", {});
        if (bo == false) {
            window.location.href = "@Url.Content("~/Login/Index")";
            return false;
        }
        layer.open({
            type: 2, area: ['520px', '330px'], title: '开课设置', shade: 0.1, maxmin: false //允许全屏最小化
            //这里需要双参数
            , content: "@Url.Content("~/home/setcourseapply?id=")" + id  
        });
    }
</script>