@using Mooc.Data.Entities;
@model Mooc.Data.ViewModels.TeacherViewModel
@{
    ViewBag.Title = "更新教师";
    //Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="panel panel-default col-md-6 col-md-push-3">
            <div class="panel-heading">
                <h3 class="panel-title">更新教师</h3>
            </div>


            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary()


                <div class="form-group">
                    @Html.LabelFor(m => m.TeacherName)
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.TeacherName)
                        @Html.ValidationMessageFor(m => m.TeacherName)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TeacherDepartment)
                    <div class="col-md-10">

                        @Html.DropDownListFor(m => m.TeacherDepartment, ViewBag.TeacherDepartmentList as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control", id = "department" })
                        @Html.ValidationMessageFor(m => m.TeacherDepartment)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.TeacherProfile)
                    <div class="col-md-10">

                        @Html.EditorFor(m => m.TeacherProfile)
                        @Html.ValidationMessageFor(m => m.TeacherProfile)
                    </div>

                </div>

                <div class="form-group" style="padding-top: 20px;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" />
                       

                    </div>
                </div>


            </div>

        </div>

    </div>


}

