@using System.Drawing.Imaging
@using System.Net.Http
@model Mooc.DataAccess.Entities.User
@*@using Mooc.DataAccess.Entities;

@model User;*@

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    
    <script>
    function checkLogin() {
        var formData = new FormData(document.getElementById("checklogin"));
        $.ajax({
            type: 'post',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            url: 'Login/LoginResult',
            data: formData,
            success: function (data) {
                if (data.code == 200) {
                       
                    window.location.reload();
                        
                } 
            }
        })
    }
    </script>
</head>
<body>

    <div class="message warning">
        <div class="inset">
            <div class="login-head">
                <h1>用户登录</h1>
            </div>
            
                @using (Ajax.BeginForm("LoginResult", "Login", new AjaxOptions {HttpMethod = "Post"}))
                {
                    <ul>

                        <li>
                            <label>用户</label>
                            @Html.EditorFor(m=>m.UserName, new { @class = "form-control" })
                        </li>

                        <li>
                            <label>密码</label>
                            @Html.EditorFor(m=>m.PassWord, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m=>m.PassWord)
                        </li>
                        
                    </ul>
                    <div class="clear"> </div>
                    @Html.ValidationSummary(true)
                    <div class="submit">
                        <input type="submit" value="登录">
                        <h4><a href="#">忘记密码 ?</a></h4>
                        <div class="clear"> </div>
                    </div>
                }
                


            
            <div style="margin-top: 20px;height: 40px">
                @*@Html.ActionLink("注册","Index", "Regist",new { area = "",name ="123"})*@
                @*<a href="@Html.Action("Index","Regist")" style="color: white;font-family: Raleway, sans-serif;font-size: 22px;display: inline-block;">SignUp First</a>*@
                <a href="@Url.Content("~/Regist/Index")" style="color: white;font-family: Raleway, sans-serif;font-size: 22px;display: inline-block;">注册</a>
            </div>
        </div>
    </div>
    ,
    <div class="clear"> </div>

</body>
</html>