
@model Mooc.Data.ViewModels.LoginViewModel


@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    
    <script>
    function checkLogin() {
        var formData = new FormData(document.getElementById("checklogin"));
        $.ajax({
            type: 'post',
            //async: false,
            //cache: false,
            //contentType: false,
            //processData: false,
            url:"@Url.Content("~/Login/LoginResult2")",
            dataType:"json",
            data: formData,
            success: function (data) {
                if (data.code == 200) {
                       
                    // window.location.reload();
                    window.location.href="@Url.Content("~/Home/Index")";
                        
                } 
            }
        })
    }
    </script>
</head>
<body>

    <div class="message warning">
        <div class="inset">
            <div class="login-head">
                <h1>用户登录</h1>
            </div>

            @*@using (Ajax.BeginForm("LoginResult", "Login", new AjaxOptions { HttpMethod = "Post" }))*@
            @using (Html.BeginForm("LoginResult", "Login"))
            {
                @Html.AntiForgeryToken()
                <ul>

                    <li>
                        @Html.LabelFor(model => model.UserName, htmlAttributes:null)
                        @Html.EditorFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PassWord)
                    </li>

                    <li>
                        @Html.LabelFor(model => model.PassWord, htmlAttributes: null)
                        @Html.EditorFor(m => m.PassWord, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PassWord)
                    </li>

                </ul>
                <div class="clear"> </div>
                @Html.ValidationSummary(true);
                <div class="submit">
                    <input type="submit" value="登录">
                    <div class="clear"> </div>
                </div>
            }




            <div style="margin-top: 20px;height: 40px">
                @*@Html.ActionLink("注册","Index", "Regist",new { area = "",name ="123"})*@
                @*<a href="@Html.Action("Index","Regist")" style="color: white;font-family: Raleway, sans-serif;font-size: 22px;display: inline-block;">SignUp First</a>*@
                <a href="@Url.Content("~/Register/Index")" style="color: white;font-family: Raleway, sans-serif;font-size: 22px;display: inline-block;">注册</a>
            </div>
        </div>
    </div>
    ,
    <div class="clear"> </div>

</body>
</html>