@model Mooc.Data.ViewModels.UserViewModel
@{
    ViewBag.Title = "添加学员";
}

<div class="row">

    <div class="panel panel-default col-md-6 col-md-push-3">
        <div class="panel-heading">
            <h3 class="panel-title">添加学员</h3>
        </div>

        <div class="form-horizontal" style="margin-top:20px;">
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(p => p.UserName, new { htmlAttributes = new { @class = "form-control", @id = "UserName" } })
                    @Html.ValidationMessageFor(p => p.UserName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.PassWord, new { htmlAttributes = new { @class = "form-control", @id = "Password" } })
                    @Html.ValidationMessageFor(p => p.PassWord)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword" } })
                    @Html.ValidationMessageFor(p => p.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @id = "Email" } })
                    @Html.ValidationMessageFor(p => p.Email)
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">角色类型</label>
                <div class="col-md-10">
                    <select id="roletypelist" class="form-control" onchange="change()">
                        <option value="0">选择类型</option>
                        <option value="1">管理员</option>
                        <option value="2">老师</option>
                        <option value="3">学生</option>
                    </select>
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.RoleType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.RoleType, ViewBag.RoleList as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control col-md-10", @id = "RoleType" })
                @Html.ValidationMessageFor(p => p.RoleType)
            </div>
        </div>*@

            <div class="form-group" id="teacherList" hidden>
                @Html.LabelFor(model => model.TeacherId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.TeacherId, ViewBag.TeacherList as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control col-md-10", @id = "TeacherId" })
                    @Html.ValidationMessageFor(p => p.TeacherId)
                </div>
            </div>

            <div class="form-group" id="studentTag" hidden>
                @Html.LabelFor(model => model.StudentNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.StudentNo, new { htmlAttributes = new { @class = "form-control", @id = "StudentNo" } })
                    @Html.ValidationMessageFor(p => p.StudentNo)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">性别</label>
                <div class="col-md-10">
                    <select id="gender" class="form-control" onchange="">
                        <option value="0">选择性别</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                        
                    </select>
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(m => m.ImgGuid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                //base64上传文件的关键
                <input type="file" onchange="uploadFile(this)" class="form-control" accept="image/*" />
                <input type="hidden" value="" id="fileName" />
            </div>
        </div>*@

            <div class="form-group">
                @Html.LabelFor(m => m.ImgGuid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <a id="uploadimg" class="btn btn-default" style="border:1px solid">上传用户照片</a>
                    <input type="hidden" value="" id="fileName" />
                </div>

            </div>
            @*显示用户长传图片*@
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10" id="dataBind"></div>
            </div>


            <div class="form-group" style="padding-top: 20px;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="提交" onclick="submit()" class="btn btn-success btn-submit" />
                    <input type="button" value="返回" onclick="back()" class="btn btn-danger btn-margin" />
                </div>
            </div>
        </div>

        </div>

</div>

<script src="~/Scripts/plupload/plupload.full.min.js"></script>
<script>

    function change() {

        var selectValue = $('select option:selected').val();

        if (selectValue == 1) {
            $("#teacherList").hide();
            $("#studentTag").hide();
        }
        if (selectValue == 2) {
            $("#teacherList").show();
            $("#studentTag").hide();
        }
        if (selectValue == 3) {
            $("#teacherList").hide();
            $("#studentTag").show();
        }
    }
</script>


<script>
    function initUpload() {

        var uploader_file = new plupload.Uploader({//创建实例的构造方法
            runtimes: 'gears,html5,html4,flash', //上传插件初始化选用那种方式的优先级顺序
            browse_button: "uploadimg", // 上传按钮
            url: "@Url.Content("~/Admin/User/UploadImg")", //远程上传地址
            @*flash_swf_url: "@Url.Content("~/Scripts/plupload/Moxie.swf")",*@
            filters: {
                max_file_size: '50mb', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
                mime_types: [//允许文件上传类型
                    { title: "图片文件", extensions: "jpg,jpeg,gif,png" }//"mp4,flv,rmvb,mpeg,mov,wmv"
                ]
            },
            multipart_params: {  'type': '1' },//往后台传参数
            multi_selection: false, //true:ctrl多文件上传, false 单文件上传
            init: {
                FilesAdded: function (up, files) { //文件上传前

                    uploader_file.start();

                },

                UploadProgress: function (up, file) { //上传中，显示进度条

                },
                FileUploaded: function (up, file, info) { //文件上传成功的时候触发
                    var data = eval("(" + info.response + ")");//解析返回的json数据
                    if (data && data.code == 0) {
                        $("#fileName").val(data.fileName);
                        alert("上传成功")
                        var _html = "";
                        var imageUrl = "@Url.Content("~/Admin/User/Show?filename=")" + data.fileName;
                        _html += "<img src='" + imageUrl + "' width='100' onerror=\"javascript: this.src = '@Url.Content("~/Images/logoError.png")'\"  >";
                        $("#dataBind").html(_html);
                    }
                    else {
                        //这两个alert拼写错了，所以一直没跑起来
                        alert(data.msg);
                    }
                },
                UploadComplete: function (uploader, files) {
                    console.log("UploadComplete", files);

                },
                Error: function (up, err) { //上传出错的时候触发
                    $("#upload-program").hide();
                    var errorCode = err.code;
                    switch (errorCode) {
                        case -600:
                            alert("抱歉，上传失败！您所上传的视频超过50mb！");
                            break;
                        case -601:
                            alert("请上传 jpg、jpeg、gif、png 格式文件！");
                            break;
                        case -602:
                            alert("文件选择重复! ");
                            break;
                        case -200:
                            alert("发生http网络错误! ");
                            break;
                        case -400:
                            alert("发生安全问题而产生的错误! ");
                            break;
                        default:
                            alert("上传失败! ");
                            break;
                    }
                }
            }
        });
        uploader_file.init();
    }
    initUpload();

</script>



<script>
    var uploadFile = function (obj) {

        var files = obj.files;
        if (files.length > 0) {
            var file = files[0];
            //判断类型是不是图片
            if (!/image\/\w+/.test(file.type)) {
                alert("请上传jpg、jpeg、gif、png格式的图片！");
                return false;
            }
            if (window.FileReader) {
                debugger;
                var fr = new FileReader();
                fr.onloadend = function (e) {
                    var base64 = e.target.result;
                    console.log("此张图片base64=" + base64)
                    //上传
                    ajaxUpLoad(base64);
                };
                fr.readAsDataURL(file);
            }
        } else {
            alert("请选择图片")
        }
    }
    function back() {
        window.location.href = "@Url.Content("~/Admin/User/List")";
    }

    function ajaxUpLoad(base64) {

         $.ajax({
            url: "@Url.Content("~/Admin/User/SaveBase64")",
             data: { "base64": base64},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    $("#fileName").val(data.fileName)
                    alert("上传成功")
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })


    }
</script>
<script>

    function submit() {

        var username = $.trim($("#UserName").val());
        if (username == "") {
            alert("用户名不能为空")
            return;
        }

        var password = $.trim($("#Password").val());
        if (password == "") {
            alert("密码不能为空")
            return;
        }

        var ConfirmPassword = $.trim($("#ConfirmPassword").val());
        if (ConfirmPassword == "") {
            alert("确认密码不能为空")
            return;
        }

        if (password != ConfirmPassword) {
            alert("密码和确认密码不一致")
            return;
        }

        var Email = $("#Email").val();
        if (Email=="") {
            alert("邮箱不能为空")
            return;
        }

        var Gender = $("#gender").val();
        if (!Gender) {
        alert("请选择课性别")
        return;
        }

        var RoleType = $("#roletypelist").val();
        if (!RoleType) {
        alert("请选择角色类型")
        return;
        }
        //默认先给一个数据，为了能往后台传数据
        var teacherid = 0;
        var StudentNo = 0;

        if (RoleType == 2) {
            teacherid = $("#TeacherId").val();
            if (!teacherid) {
                alert("请选择课程讲师")
                return;
            }
        }

        if (RoleType == 3) {
            StudentNo = $("#StudentNo").val();
            if (StudentNo=="") {
                alert("学号不能为空")
                return;
            }
        }



       var fileName= $("#fileName").val()
        if (!fileName) {
            alert("请上传用户头像")
            return;
        }
       // var status = $.trim($("#status").val());

        $.ajax({
            url: "@Url.Content("~/Admin/User/AjSave")",
            data: { "UserName": username, "Password": password, "Email": Email, "StudentNo": StudentNo, "Teacherid":teacherid, "Gender":Gender, "RoleType":RoleType, "ImgGuid": fileName},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    window.location = "@Url.Content("~/Admin/User/List")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })

    }
</script>

