@using Mooc.Data.Entities;
@model Mooc.Data.ViewModels.CourseView
@{
    ViewBag.Title = "添加课程";
}

<div class="row">

    <div class="panel panel-default col-md-6 col-md-push-3">
        <div class="panel-heading">
            <h3 class="panel-title">添加课程</h3>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="CourseName" class="form-control" placeholder="请输入课程名称" />
                    @*@Html.ValidationMessageFor(m => m.CourseName)*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CourseDetail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="CourseDetail" class="form-control" placeholder="请输入课程简介" />
                    @*@Html.ValidationMessageFor(m => m.CourseDetail)*@
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.TeacherId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.LabelFor(model => model.TeacherId, "TeacherNames", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("TeacherId", null, htmlAttributes: new { @class = "form-control", id = "teacherid" })*@
                    @*@Html.DropDownListFor(m => m.TeacherId, ViewBag.TeacherList as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control",@id="TeacherId" })*@
                    @Html.DropDownListFor(m => m.TeacherId, ViewBag.TeacherId as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control", @id = "TeacherId" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, "CategoryNames", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownListFor(m => m.CategoryId, ViewBag.CategoryId as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control", @id = "CategoryId" })
                    @*@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", id = "teacherid" })*@

                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(m => m.Status)
                    <div class="col-md-10">
                        <input type="text" id="status" class="form-control" placeholder="课程状态" />
                        @Html.ValidationMessageFor(m => m.Status)
                    </div>
                </div>*@

            <div class="form-group" style="padding-top: 20px;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="提交" onclick="submit()" class="btn btn-success btn-submit" />
                    <input type="button" value="返回" onclick="back()" class="btn btn-danger btn-margin" />
                </div>
            </div>
        </div>

    </div>

</div>
<script>ou m
    function back() {
        window.location.href = "@Url.Content("~/Admin/Course/List")";
    }
</script>
<script>

    function submit() {

        var coursename = $.trim($("#CourseName").val());
        if (coursename == "") {
            alert("课程名称不能为空")
            return;
        }

        var coursedetail = $.trim($("#CourseDetail").val());
        if (coursedetail == "") {
            alert("课程描述不能为空")
            return;
        }

        var teacherid = $("#TeacherId").val();
        if (!teacherid) {
            alert("请选择课程讲师")
            return;
        }

        var categoryid = $("#CategoryId").val();
        if (!categoryid) {
        alert("请选择课程类别")
        return;
        }

       // var status = $.trim($("#status").val());

        $.ajax({
            url: "@Url.Content("~/Admin/Course/Save")",
            data: { "CourseName": coursename, "CourseDetail": coursedetail, "TeacherId": teacherid,"CategoryId":categoryid},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    window.location = "@Url.Content("~/Admin/Course/List")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })

    }
</script>

