@using Mooc.Data.Entities;
@model Mooc.Data.ViewModels.CourseView
@{
    ViewBag.Title = "更新课程";
}

<div class="row">

    <div class="panel panel-default col-md-6 col-md-push-3" >
        <div class="panel-heading" style="margin-bottom: 20px;">
            <h3 class="panel-title">更新课程</h3>
        </div>

        <div class="form-horizontal">
 
            <div class="form-group">
                @Html.LabelFor(m => m.CourseName,"课程名称", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(m => m.CourseName, new { htmlAttributes = new { @class = "form-control", id = "coursename" } })
                    @Html.ValidationMessageFor(m => m.CourseName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CourseDetail,"课程详情", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(m => m.CourseDetail, new { htmlAttributes = new { @class = "form-control", id = "coursedetail" } })
                    @Html.ValidationMessageFor(m => m.CourseDetail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TeacherId,htmlAttributes: new { @class = "control-label col-md-3" })
                @*@Html.LabelFor(model => model.TeacherId, "TeacherNames", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-9">
                    @Html.DropDownList("TeacherId", null, htmlAttributes: new { @class = "form-control", id = "teacherid" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", id = "categoryid" })

                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(m => m.Status)
                <div class="col-md-9">
                    @Html.EditorFor(m => m.Status, new { htmlAttributes = new { @class = "form-control", id = "status" } })
                    @Html.ValidationMessageFor(m => m.Status)
                </div>
            </div>*@

            <div class="form-group" style="padding-top: 20px;">
                <div class="col-md-offset-2 col-md-9">
                    <input type="button" value="提交" onclick="submit()" class="btn btn-success btn-submit" />
                    <input type="button" value="返回" onclick="back()" class="btn btn-danger btn-margin" />
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    function back() {
        window.location.href = "@Url.Content("~/Admin/Course/List")";
    }
</script>
<script>

    function submit() {

        var coursename = $.trim($("#coursename").val());

        var coursedetail = $.trim($("#coursedetail").val());

        var teacherid = $.trim($("#teacherid").val());

        var categoryid = $.trim($("#categoryid").val());

        var status = $.trim($("#status").val());


        $.ajax({
            url: "@Url.Content("~/Admin/Course/EditCourse")",
            data: {"Id":@Model.ID,"CourseName":coursename,"CourseDetail":coursedetail,"TeacherId":teacherid,"CategoryId":categoryid,"Status":status},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    window.location = "@Url.Content("~/Admin/Course/List")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })

    }
</script>

