
@{
    ViewBag.Title = "List";
}
<style>
    .red {
        color: red;
    }

    ;
    .green {
        color: green;
    }
</style>

<div class="row">
    <div class="panel panel-default panel-full">
        <div class="panel-heading panel-heading-padding">
            <h3 class="panel-title">课程列表</h3>
            <div class="panel-options">

                <a href="~/Admin/Course/Create" class="btn btn-gray">添加课程</a>
            </div>
        </div>
        <div class="panel-body">

            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        <th>

                            Course Name
                        </th>
                        <th>

                            Course Detail
                        </th>
                        <th>

                            Teacher Name
                        </th>
                        <th>

                            Category Name
                        </th>
                        <th>

                            Status
                        </th>
                        <th>

                            Course Cover
                        </th>
                        <th>

                            Add Time
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="middle-align" id="dataBind"></tbody>
            </table>
            <div>
                <ul id="divPagination" class="pagination" style="margin:10px 0px;"></ul>
            </div>


            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody class="middle-align" id="chapterbind"></tbody>
            </table>


        </div>
    </div>
</div>
<input type="hidden" id="PageIndex" value="1" />
<script src="~/Scripts/jqPaginator.js"></script>
<script>

    var pageSize = 2;
    search();

        function search() {

            var pageIndex = $("#PageIndex").val();
            $.ajax({
                url: "@Url.Content("~/Admin/Course/GetCourseList")",
                data: { "pageIndex": pageIndex, "pageSize": pageSize },
                type: "POST", dataType: 'json',
                success: function (res) {
                    var pageCount = res.PageCount == 0 ? 1 : res.PageCount;
                    $("#divPagination").jqPaginator({
                        totalPages: parseInt(pageCount),
                        visiblePages: 10,
                        currentPage: parseInt(pageIndex),
                        onPageChange: function (num, type) {
                            $('#PageIndex').val(num);
                            if ($('#divPagination .active').eq(0).attr('jp-data') !== num.toString()) {
                                search();
                            }
                        }
                    });
                    var _html = "";
                    for (var i = 0; i < res.data.length; i++) {

                        var item = res.data[i];
                        var color = item.Status == 0 ? "" : item.Status == 1 ? "green" : "red";
                        var imageUrl = "@Url.Content("~/Admin/Course/Show?filename=")" + item.CoverPic;
                        _html += "<tr>";
                        _html += "<td>" + item.CourseName + "</td>";
                        _html += "<td>" + item.CourseDetail + "</td>";
                        _html += "<td>" + item.TeacherName + "</td>";
                        _html += "<td>" + item.CategoryName + "</td>";

                        _html += "<td>" + item.CourseStatus + "</td>";
                        _html += "<td><img src='" + imageUrl+"' width='60' onerror=\"javascript: this.src = '@Url.Content("~/Images/logoError.png")'\"  >";
                         _html += "<td>" + item.CreateDate + "</td>";

                        _html += "<td><a href='@Url.Content("~/Admin/Course/Edit/")" + item.ID + "' class = 'fa-pencil-square-o' style = 'font-size:20px' title='编辑课程'></a>";


                        _html += "<a href='javascript:void(0);' onclick='Delete(" + item.ID + "," + item.Status + ")' class = 'fa-trash' style = 'font-size:20px;margin-left:10px;' title='删除课程'></a>";

                        _html += "<a href='javascript:void(0);' onclick='Chapter(" + item.ID + ")' class = 'fa fa-bars' style = 'font-size:20px;margin-left:10px;' title='查看章节'></a>";

                        //_html += "<a href='javascript:void(0);' class='" + color + " fa fa-toggle-down' onclick='ChangeStatue(" + item.ID + "," + item.Status + ")' style = 'font-size:16px;margin-left:10px;' title='" + item.CourseStatus + "'></a>";

                        if (item.Status == 1) {
                            _html += "<a href='javascript:void(0);' class=' fa fa-toggle-down' onclick='ChangeStatuedown(" + item.ID + "," + item.Status + ")' style = 'font-size:16px;margin-left:10px;color:" + color + "'; title='下架'></a>";
                        } else {

                            _html += "<a href='javascript:void(0);' class=' fa fa-toggle-up' onclick='ChangeStatueup(" + item.ID + "," + item.Status + ")' style = 'font-size:16px;margin-left:10px;color:" + color + "';' title='上架'></a>";
                        }

                        _html += "</td></tr>";
                    }

                    $("#dataBind").html(_html);
                         }
               })
    }



    function Chapter(id) {

            @*$.ajax({
                url: "@Url.Content("~/Admin/course/searchchapter")",
                data: {"ID":id},
                type: "POST", dataType: 'json',
                success: function (res) {

                    var _chtml = "";
                    for (var i = 0; i < res.chapters.length; i++) {

                        var item = res.chapters[i];


                        _chtml += "<tr>";
                        _chtml += "<td>" + item.ChapterName + "</td>";
                        _chtml += "<td>" + item.ChapterDetails + "</td>";
                        _chtml += "<td>" + item.CourseName + "</td>";
                        _chtml += "<td>" + item.UpdateDate + "</td>";
                        _chtml += "<td>" + item.VideoGuid + "</td>";
                        _chtml += "<td>" + item.CreateDate + "</td>";

                        _chtml += "</tr>";
                    }

                    $("#chapterbind").html(_chtml);
                         }
               })*@

        window.location = "@Url.Content("~/Admin/Chapter/List/")"+id;
    }

    @*function ChangeStatue(id, status) {
        var mes=status==1?"是否下架该课程?":"是否上架该课程?";
        if (confirm(mes)) {
            $.ajax({
                url: "@Url.Content("~/Admin/Course/ChangeStatus")",
                data: { "ID": id },
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    if (data.code == 0) {
                        alert(data.msg);
                        search();
                    }
                    else {
                        alert(data.msg);
                        return false;
                    }
                    //if (data.code == 0) {

                    //    if (data.changestatue == 1) {
                    //        document.getElementById('statuebutton').innerHTML = "已上架";
                    //        document.getElementById('statuebutton').style.color = "green";

                    //    }

                    //    if (data.changestatue == 2) {
                    //       document.getElementById('statuebutton').innerHTML = "已下架";
                    //       document.getElementById('statuebutton').style.color = "red";

                    //    }
                    //} else {
                    //    alert(data.msg)
                    //    return false;
                    //}


                }
            })
            }
    };*@

function ChangeStatuedown(id, status) {
    if (status == 1 && id != null) {
        if (confirm("是否下架该课程？")) {
            $.ajax({
                url: "@Url.Content("~/Admin/Course/ChangeStatus")",
                data: { "ID": id },
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    if (data.code == 0) {
                        alert(data.msg);
                        search();
                    }
                    else {
                        alert(data.msg);
                        return false;
                    }

                }
            })
        }
    }

};



function ChangeStatueup(id, status) {
    if (status != 1) {
        if (confirm("是否上架该课程？")) {
            $.ajax({
                url: "@Url.Content("~/Admin/Course/ChangeStatus")",
                data: { "ID": id },
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    if (data.code == 0) {
                        alert(data.msg);
                        search();
                    }
                    else {
                        alert(data.msg);
                        return false;
                    }

                }
            })
        }
    }
    
};


    function Delete(id,status) {

        if (status == 1) {
            alert("该课程已上架，无法删除")
            return false;
        }

        if (confirm("确定删除当前课程及课程下的所有章节么?")) {
             $.ajax({
            url: "@Url.Content("~/Admin/Course/DeleteCourse")",
            data: {"DeleteID":id},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    alert("课程删除成功");
                    window.location = "@Url.Content("~/Admin/Course/List")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })


            //确定删除当前课程，课程下的章节需要一起删除
        }

    }
</script>
