
@{
    ViewBag.Title = "List";
    <script src="~/Scripts/layer/layer.js"></script>
    //不联网的情况下是没有schedule这个功能的，因为这个fa必须从网上那个引，要不不显示
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}


@*若不加这个css引用链接，有些fa能用有些fa不能用*@
@*<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/layer.js"></script>
        <link href="~/assets/css/layer.css" rel="stylesheet" type="text/css" />
    </head>*@
<style>
    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>

<div class="row">
    <div class="panel panel-default panel-full">
        <div class="panel-heading panel-heading-padding">
            <h3 class="panel-title">课程列表</h3>
            <div class="panel-options">

                <a href="~/Admin/Course/Create" class="btn btn-gray">添加课程</a>
                <a href="~/Admin/Chapter/ListAll" class="btn btn-gray">查看全部章节列表</a>
            </div>
        </div>
        <div class="panel-body">

            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        <th>

                            课程名称
                        </th>
                        <th>

                            课程详情
                        </th>
                        <th>

                            教师名
                        </th>
                        <th>

                            类别名
                        </th>
                        <th>

                            状态
                        </th>
                        <th>

                            添加时间
                        </th>
                        <th>

                            课程图片
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="middle-align" id="dataBind"></tbody>
            </table>
            <div>
                <ul id="divPagination" class="pagination" style="margin:10px 0px;"></ul>
            </div>


            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody class="middle-align" id="chapterbind"></tbody>
            </table>


        </div>
    </div>
</div>
<input type="hidden" id="PageIndex" value="1" />

@section sectionDialog{

    @Html.Partial("_DialogPartial")

}

<video src="http://www.baidu.com/Api/VideoApi/Get/xxxxsss.mp4" controls="controls">
    您的浏览器不支持 video 标签。
</video>


@*<div id='info' style="display : none">
        我是内容
        <br />
        起始日期<input id='daystart' type='date' class='layui-layer-input' style='margin:15px'>
        <br />
        结束日期<input id='dayend' type='date' class='layui-layer-input' style='margin:15px'>

        <div class="form-group" style="padding-top: 20px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="提交" onclick="submit()" class="btn btn-success btn-submit" />
                <input type="button" value="返回" onclick="back()" class="btn btn-danger btn-margin" />
            </div>
        </div>

        <script>

        function back() {
            layer.closeAll();
            }

        function submit() {

            var startdate = $.trim($("#daystart").val());
            if (startdate == "") {
                alert("开始时间不能为空")
                return;
            }

            var enddate = $.trim($("#dayend").val());
            if (enddate == "") {
                alert("结束时间不能为空")
                return;
            }


            $.ajax({
            url: "@Url.Content("~/Admin/Course/schedule")",
                data: { "Startdate": startdate, "Enddate":enddate, "CourseId":courseid},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    $("#fileName").val(data.fileName)
                    alert("开课安排成功")
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })


        }

        </script>

    </div>*@




<script src="~/Scripts/jqPaginator.js"></script>
<script>

    var pageSize = 5;
    search();

        function search() {

            var pageIndex = $("#PageIndex").val();
            $.ajax({
                url: "@Url.Content("~/Admin/Course/GetCourseList")",
                data: { "pageIndex": pageIndex, "pageSize": pageSize },
                type: "POST", dataType: 'json',
                success: function (res) {
                    var pageCount = res.PageCount == 0 ? 1 : res.PageCount;
                    $("#divPagination").jqPaginator({
                        totalPages: parseInt(pageCount),
                        visiblePages: 10,
                        currentPage: parseInt(pageIndex),
                        onPageChange: function (num, type) {
                            $('#PageIndex').val(num);
                            if ($('#divPagination .active').eq(0).attr('jp-data') !== num.toString()) {
                                search();
                            }
                        }
                    });
                    var _html = "";
                    for (var i = 0; i < res.data.length; i++) {

                        var item = res.data[i];
                        var color = item.Status == 0 ? "" : item.Status == 1 ? "green" : "red";
                        var imageUrl = "@Url.Content("~/Admin/Course/Show?filename=")" + item.CoverPic;
                        _html += "<tr>";
                        _html += "<td>" + item.CourseName + "</td>";
                        _html += "<td>" + item.CourseDetail + "</td>";
                        _html += "<td>" + item.TeacherName + "</td>";
                        _html += "<td>" + item.CategoryName + "</td>";

                        _html += "<td>" + item.CourseStatus + "</td>";
                         _html += "<td>" + item.CreateDate + "</td>";
                        _html += "<td><img src='" + imageUrl+"' width='60' onerror=\"javascript: this.src = '@Url.Content("~/Images/logoError.png")'\"  >";


                        _html += "<td><a href='@Url.Content("~/Admin/Course/Edit/")" + item.ID + "' class = 'fa-pencil-square-o' style = 'font-size:20px' title='编辑课程'></a>";


                        _html += "<a href='javascript:void(0);' onclick='Delete(" + item.ID + "," + item.Status + ")' class = 'fa-trash' style = 'font-size:20px;margin-left:10px;' title='删除课程'></a>";

                        _html += "<a href='javascript:void(0);' onclick='Chapter(" + item.ID + ")' class = 'fa fa-bars' style = 'font-size:20px;margin-left:10px;' title='查看章节'></a>";

                        //_html += "<a href='javascript:void(0);' class='" + color + " fa fa-toggle-down' onclick='ChangeStatue(" + item.ID + "," + item.Status + ")' style = 'font-size:16px;margin-left:10px;' title='" + item.CourseStatus + "'></a>";

                        if (item.Status == 1) {
                            _html += "<a href='javascript:void(0);' class=' fa fa-toggle-down' onclick='ChangeStatuedown(" + item.ID + "," + item.Status + ")' style = 'font-size:16px;margin-left:10px;color:" + color + "'; title='下架'></a>";
                            _html += "<a href='javascript:void(0);' class='far fa-address-card' onclick='Schedule(" + item.ID + ",\"" + item.CourseName + "\")' style = 'font-size:16px;margin-left:10px;color:" + color + "';' title='开课'></a>";
                        } else {

                            _html += "<a href='javascript:void(0);' class=' fa fa-toggle-up' onclick='ChangeStatueup(" + item.ID + "," + item.Status + ")' style = 'font-size:16px;margin-left:10px;color:" + color + "';' title='上架'></a>";
                        }


                        _html += "</td></tr>";
                    }

                    $("#dataBind").html(_html);
                         }
               })
    }

        function Schedule(id, coursename) {

          var index=  layer.open({
              type: 1
              ,area: ['520px', '330px']
              ,title: '开课设置'
              ,shade: 0.1
              ,maxmin: false //允许全屏最小化
              ,content: $('#dialog')
            });

            $("#saveSchedule").unbind("click").bind("click", function (e) {

               SavePostSchedule(id,coursename,index)

                e.preventDefault;
                e.stopPropagation;
            })

            $("#cancel").unbind("click").bind("click", function (e) {
                if (index)
                    layer.close(index);

                e.preventDefault;
                e.stopPropagation;
            })

        }


    function SavePostSchedule(courseId,coursename,index) {

        var daystart = $("#daystart").val();
        if (daystart == "") {
            alert("起始日期不能为空")
            return;
         }

        var dayend = $.trim($("#dayend").val());
        if (dayend == "") {
            alert("结束日期不能为空")
            return;
         }


        var remark = $.trim($("#remark").val());
        if (index)
         layer.close(index);
        $.ajax({
            url: "@Url.Content("~/Admin/Schedule/SaveSchedule")",
            data: { "StartTime": daystart, "EndTime": dayend, "CourseId": courseId, "Remark":remark},
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data.code == 0) {
                    alert("课程：《"+coursename+"》已经开课");
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })
    }

//    function layertest(id) {


//    layer.open({
//           type: 2,
//           title: '账户信息详情',
//           shadeClose: true,
//           shade: false,
//           maxmin: true, //开启最大化最小化按钮
//           area: ['300px', '300px'],
//           content: 'http://localhost:22312/Admin/schedule?id='+id
//});

//    }

    function Chapter(id) {

            @*$.ajax({
                url: "@Url.Content("~/Admin/course/searchchapter")",
                data: {"ID":id},
                type: "POST", dataType: 'json',
                success: function (res) {

                    var _chtml = "";
                    for (var i = 0; i < res.chapters.length; i++) {

                        var item = res.chapters[i];


                        _chtml += "<tr>";
                        _chtml += "<td>" + item.ChapterName + "</td>";
                        _chtml += "<td>" + item.ChapterDetails + "</td>";
                        _chtml += "<td>" + item.CourseName + "</td>";
                        _chtml += "<td>" + item.UpdateDate + "</td>";
                        _chtml += "<td>" + item.VideoGuid + "</td>";
                        _chtml += "<td>" + item.CreateDate + "</td>";

                        _chtml += "</tr>";
                    }

                    $("#chapterbind").html(_chtml);
                         }
               })*@

        window.location = "@Url.Content("~/Admin/Chapter/List/")"+id;
    }

    @*function ChangeStatue(id, status) {
        var mes=status==1?"是否下架该课程?":"是否上架该课程?";
        if (confirm(mes)) {
            $.ajax({
                url: "@Url.Content("~/Admin/Course/ChangeStatus")",
                data: { "ID": id },
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    if (data.code == 0) {
                        alert(data.msg);
                        search();
                    }
                    else {
                        alert(data.msg);
                        return false;
                    }
                    //if (data.code == 0) {

                    //    if (data.changestatue == 1) {
                    //        document.getElementById('statuebutton').innerHTML = "已上架";
                    //        document.getElementById('statuebutton').style.color = "green";

                    //    }

                    //    if (data.changestatue == 2) {
                    //       document.getElementById('statuebutton').innerHTML = "已下架";
                    //       document.getElementById('statuebutton').style.color = "red";

                    //    }
                    //} else {
                    //    alert(data.msg)
                    //    return false;
                    //}


                }
            })
            }
    };*@

function ChangeStatuedown(id, status) {
    if (status == 1 && id != null) {
        if (confirm("是否下架该课程？")) {
            $.ajax({
                url: "@Url.Content("~/Admin/Course/ChangeStatus")",
                data: { "ID": id },
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    if (data.code == 0) {
                        alert(data.msg);
                        search();
                    }
                    else {
                        alert(data.msg);
                        return false;
                    }

                }
            })
        }
    }

    };



function ChangeStatueup(id, status) {
    if (status != 1) {
        if (confirm("是否上架该课程？")) {
            $.ajax({
                url: "@Url.Content("~/Admin/Course/ChangeStatus")",
                data: { "ID": id },
                type: "POST",
                dataType: 'json',
                success: function (data) {

                    if (data.code == 0) {
                        alert(data.msg);
                        search();
                    }
                    else {
                        alert(data.msg);
                        return false;
                    }

                }
            })
        }
    }

};


    function Delete(id,status) {

        if (status == 1) {
            alert("该课程已上架，无法删除")
            return false;
        }

        if (confirm("确定删除当前课程及课程下的所有章节么?")) {
             $.ajax({
            url: "@Url.Content("~/Admin/Course/DeleteCourse")",
            data: {"DeleteID":id},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    alert("课程删除成功");
                    window.location = "@Url.Content("~/Admin/Course/List")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })


            //确定删除当前课程，课程下的章节需要一起删除
        }

    }
</script>
