@using Mooc.Data.Entities;
@{
    ViewBag.Title = "添加课程类型";
    //Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
}


<div class="row">

    <div class="panel panel-default col-md-6 col-md-push-3">
        <div class="panel-heading">
            <h3 class="panel-title">添加课程类型</h3>
        </div>

        <div class="form-horizontal">
            <hr />


            <div class="form-group">
                <label class="control-label col-md-2">类别名称</label>
                <div class="col-md-10">
                    <input type="text" id="CategoryName" class="form-control" placeholder="请输入类别名称" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">类别等级</label>
                <div class="col-md-10">
                    <select id="CategoryType" class="form-control" onchange="change()">
                        <option value="1">一级分类</option>
                        <option value="2">二级分类</option>
                    </select>
                </div>
            </div>

            <div class="form-group" id="first" style="display:none;">
                <label class="control-label col-md-2">一级分类</label>
                <div class="col-md-10">
                    <select class="form-control" id="FirstCategory">
                        @{
                            var categoryList = ViewBag.categoryList as List<Category>;
                            if (categoryList != null && categoryList.Count > 0)
                            {
                                foreach (var item in categoryList)
                                {
                                    <option value="@item.ID">@item.CategoryName</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">备注</label>
                <div class="col-md-10">
                  
                    <textarea class="form-control" rows="5" id="remark" placeholder="请输入备注信息" style="resize: none;"></textarea>

                </div>
            </div>

            <div class="form-group" style="padding-top: 20px;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="提交" onclick="submit()" class="btn btn-success btn-submit" />
                    <input type="button" value="返回" onclick="back()"class="btn btn-danger btn-margin" />
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    function back() {
        window.location.href = "@Url.Content("~/Admin/Category/Index")";
    }
</script>
<script>
    function change() {
        var type = $("#CategoryType").val();
        if (type && type == 2) {
            $("#first").show();
            // $("#first").css("display","block");
        }
        else {


            // $("#first").css("display", "none");
        }

    }

    function submit() {

        var CategoryName = $.trim($("#CategoryName").val());
        if (CategoryName == "") {
            alert("类别名称不能为空");
            return;
        }
        var remark = $.trim($("#remark").val());

        var type = $("#CategoryType").val();
        var FirstCategory = $("#FirstCategory").val();
        if (type == 1) {
            FirstCategory = 0;
        } else {
            if (!FirstCategory) {
                alert("请选择一级分类");
                return;
            }
        }
        $.ajax({
            url: "@Url.Content("~/Admin/Category/CreateCategory")",
            data: { "CategoryName": CategoryName, "ParentId": FirstCategory, "Type": type, "Remark": remark},
            type: "POST", dataType: 'json',
            success: function (data) {
                if (data.code == 0) {
                    window.location = "@Url.Content("~/Admin/Category/List")";
                }
                else {
                    alert(data.msg)
                    return false;
                }
            }
       })

    }
</script>
