@model IEnumerable<Mooc.DataAccess.Entities.SubjectCategory>
@{
    ViewBag.Title = "课程分类";
    //Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
}


<div class="row">
    <div class="panel panel-default panel-full">
        <div class="panel-heading panel-heading-padding">
            <h3 class="panel-title">课程分类</h3>

            <div class="panel-options">
                @Html.ActionLink("添加", "Create", new { @class = "btn btn-gray" })
            </div>
        </div>
        <div class="panel-body">
            @if (!Model.Any())
            {
                <p>目前没有课程分类</p>
            }

            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>

                <tbody class="middle-align">
                    @foreach (var item in Model)
                    {
                        if (item.IsDel != 2)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryTypeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa-pencil-square-o", @style = "font-size:20px" }) |
                                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa-trash", @style = "font-size:20px" })
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

