@model Mooc.Data.ViewModels.UserViewModel
@{
    Layout = null;
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/assets/css/personalCenter.css">
</head>
<body>


    <div class="personalHomePage personalCenter">
        <div class="topbanner clearfix">
            <div class="width1200pxAuto clearfix">
                <div class="left avatar"><img src="@Url.Content("~/UserCenter/Show?filename=")@Model.ImgGuid" width="150" height="150" alt=""></div>
                <div class="left info">
                    <div class="baseinfo">
                        <div class="name">@Model.UserName</div>
                    </div>
                    <div class="job">@Model.RoleName</div>

                </div>
                <ul class="right num clearfix">
                    <li><span>3214</span><p>视频</p></li>
                    <li class="bdr0 last"><span>1620</span><p>学习</p></li>
                </ul>
            </div>
        </div>
        <div class="main width1200pxAuto clearfix">
            <div class="left rightWrap sidebar">
                <div class="sidenav">
                    <ul>
                        <li class="item1"><a href="@Url.Content("~")"><i></i><span>首页</span></a></li>
                        <li class="item2"><a href="#" id="mycourse"><i></i><span>我的课程</span></a></li>
                        <script>
                            $("#mycourse").on("click", function () {
                                $.ajax({
                                    url: "@Url.Content("~/UserCenter/Mycourse/")",
                                    data: {"id":@Model.ID},
                                    type: "POST",
                                    dataType: 'html',
                                    success: function (data) {
                                        $("#allmycourse").html(data);
                                        
                                    }
                                        
                                });
                            })
                        </script>
                        <li class="item3"><a href="#"><i></i><span>正在学习</span></a></li>
                        <li class="item4"><a href="#"><i></i><span>已经完成</span></a></li>
                        <li class="item6"><a href="#" id="mydetail"><i></i><span>我的资料</span></a></li>
                        <script>
                            $("#mydetail").on("click", function () {
                                $.ajax({
                                    url: "@Url.Content("~/UserCenter/MyDetail/")",
                                    data: {"id":@Model.ID},
                                    type: "POST",
                                    dataType: 'html',
                                    success: function (data) {
                                        //$("#mydetailpartial").html(data);
                                        $("#allmycourse").html(data);
                                        
                                    }
                                        
                                });
                            })
                        </script>
                        <li class="item7"><a href="@Url.Content("~/Login/Logout/")"><i></i><span>退出系统</span></a></li>
                    </ul>
                </div>
                @*鼠标移动上移动出改变class状态，CSS选择器要选择从上到下的所有已经有css改变的class，要不然权限不够*@
                <script>
                    $(".personalCenter .sidenav li").mouseover(function() {
                        $(this).addClass("cur");
                    });
                    $(".personalCenter .sidenav li").mouseout(function () {
                        $(this).removeClass("cur");
                    });
                </script>

            </div>

            <div class="right leftWrap">
                <div class="dynamic">
                    <div id="dataBind"></div>
                    
                    <ul class="content clearfix">
                        <div id="allmycourse"></div>
                        <div id="mydetailpartial"></div>
                        @*@Html.Partial("MyCourse")*@
                        @*@Html.Action("MyCourse")*@
                        @*<li>
            <div class="left avatar"><a href="" target="_blank"><img src="~/Images/personalCenter/index-speaker.jpg" width="72" height="72" alt=""></a><p>讲师：阿杜</p></div>
            <div class="left panel panel1">
                <i class="arrow"></i>
                <div class="panel-header">
                    <h2><a href="" target="_blank">java技术</a>正在学习</h2>
                </div>
                <div class="panel-body clearfix">
                    <a href="" class="left pic" target="_blank">
                        <img src="~/Images/personalCenter/index-speaker.jpg" height="185" width="246" alt="">
                    </a>
                    <div class="left infoWrap">
                        <div class="title"><a href="" target="_blank">手残党看过来，有了这本宜家食谱</a></div>
                        <div class="tags">
                            <a>生活休闲</a>
                            <a>艺术人生艺术</a>

                        </div>
                        <div class="intro"><a href="" target="_blank">通过PHP学习的进阶篇的学习，你可以对PHP的理论知识由浅入深有更深一步的掌握，这些知识能够使您更加全面的掌握PHP</a></div>
                        <div class="info clearfix">
                            <a href="" class="icon previewNum" title="浏览数">6478</a>

                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="left avatar"><a href="" target="_blank"><img src="~/Images/personalCenter/index-speaker.jpg" width="72" height="72" alt=""></a><p>讲师：阿杜</p></div>
            <div class="left panel panel1">
                <i class="arrow"></i>
                <div class="panel-header">
                    <h2><a href="" target="_blank">通信技术</a>已完成</h2>
                </div>
                <div class="panel-body clearfix">
                    <a href="" class="left pic" target="_blank">
                        <img src="~/Images/personalCenter/index-speaker.jpg" height="185" width="246" alt="">
                    </a>
                    <div class="left infoWrap">
                        <div class="title"><a href="" target="_blank">手残党看过来，有了这本宜家食谱，再也不怕把创意料理做成黑暗料理了!</a></div>
                        <div class="tags">
                            <a>生活休闲</a>
                            <a>艺术人生艺术</a>

                        </div>
                        <div class="intro"><a href="" target="_blank">通过PHP学习的进阶篇的学习，你可以对PHP的理论知识由浅入深有更深一步的掌握，这些知识能够使您更加全面的掌握PHP</a></div>
                        <div class="info clearfix">
                            <a href="" class="icon previewNum" title="浏览数">6478</a>

                        </div>
                    </div>
                </div>
            </div>
        </li>*@

                    </ul>
</div>

            </div>
        </div>
    </div>
    <div class="footer">

        <p class="copyright">在线发行：Mooc学习有限公司&nbsp;&nbsp;&nbsp;&nbsp;在线视频学习</p>
    </div>

</body>
</html>
<script>
    function showCourse(id) {
        $.ajax({
            url: "@Url.Content("~/UserCenter/ShowCourse")",
            type: "POST",
            dataType: 'html',
            success: function(data) {
                $("#dataBind").html(data);
            }
        });
    }
</script>